.container {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;
}

.container .left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

.container .left p {
  margin: 0.5rem 0;
}

.container .left .app-details,
.container .left .patient-details,
.container .right .element {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 16px;
  padding: 1rem;
}

.container .left .app-details p,
.container .left .patient-details p {
  font-weight: 500;
}

.container .left .app-details p:first-of-type,
.container .left .patient-details p:first-of-type {
  color: #60666d;
  font-weight: 400;
}

.container .left .app-details .pending {
  color: #ffcc00;
}
.container .left .app-details .done {
  color: #4caf50;
}

.container .right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container .right .element {
  position: relative;
  height: 50%;
}

.container .right .element svg {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.container .right p {
  margin: 0;
}

.container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .title {
  margin: 0;
  padding-bottom: 0.25rem;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .container .left {
    width: auto;
  }
}
