.container {
}

.container .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .head .title {
  font-size: 2rem;
}

.container .head .count {
  font-weight: 500;
  color: #2196f3;
}

.container .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.container .content .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #eee;
  border-radius: 1rem;
}

.container .content .card .details a {
    color: #2196f3;
}
