.header{
    position: relative;
    top: 0px;
}
.header-container{
    display: flex;
    align-items: center;
    background-color: #efefef;
    position: relative;
    max-height: 70px;
    border-radius: 20px;
    justify-content: space-between;
}
.header-container .logoLinks{
    display: flex;
    align-items: center;
    width: 650px;
    justify-content: space-between;
}
.header-container .logoLinks .logo{
    display: flex;
    align-items: center;
}
.header-container .logoLinks .logo h2{
    color: #2196f3;
}
.header-container .logoLinks .logo img{
    width: 24px;
    height: 24px
}
.header-container .logoLinks .links{
    display: flex;
    align-items: center;
    padding: 0;
}
.header-container .logoLinks .links li{
    list-style: none;
    padding: 20px;
}
.header-container .logoLinks .links li a{
    color: #121212;
}
.header-container .logoLinks .links li a:hover,
.header-container .logoLinks .links li a.active{
    color: #2196f3;
    transition: 0.3s;
}
.header-container .buttons{
    margin-right: 10px;
}
.header-container .buttons button{
    margin-left: 10px;
}
.header-container .buttons .NavLogin{
    background-color: #fafafa;
    outline: none;
}
.header-container .buttons :last-child{
    background-color: #2196f3;
    color: white;
    outline: none;
}
/*####################*/
@media(min-width:1200px){
    .contentContainer{
        width: 1170px;
    }
}
@media(min-width:992px){
    .contentContainer{width: 970px;}
}
@media(min-width:786px){
    .contentContainer{width: 750px;}
}

.contentContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 70px);
    width: 100%;
}

.contentContainer .col-1{
    flex-basis: 40%;
    color: #121212;
    font-size: 18px;
    margin-left: 20px;
}
.contentContainer .col-1 h2{
    font-size: 50px;
    letter-spacing: -2px;
    color: #121212;
}
.contentContainer .col-1 button{
    background-color: #121212;
    color: white;
    text-align: center;
}
.contentContainer .col-2{
    /* flex-basis: 40%; */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentContainer .col-2 img{
    width: 100%;
}

.contentContainer .col-2 .text{
    background-color: #efefef;
    padding: 30px;
    border-radius: 20px;
    max-width: 410px;
    color: #37312d;
    margin-top: 20px;
}
.contentContainer .col-2 .text p{
    font-size: 22px;
    color: #121212;
    text-align: center;
}
@media(max-width:984px){
    .contentContainer .col-2{
        display: none;
    }
    .contentContainer .col-1{
        flex: 1;   
        text-align: center;
    }
}


/*#################################*/

@media(min-width:1200px){
    .services{
        width: 1170px;
    }
}
@media(min-width:992px){
    .services{width: 970px;}
}
@media(min-width:786px){
    .services{width: 750px;}
}
.services{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
.services .address {
    
    position: relative;
    padding: 14px 20px;
    color: #121212cc;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    font-family: Cinzel Decorative;
    text-transform: lowercase
}
.services .servicesContainer{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 40px; */
}
.services .servicesContainer .box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid; */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, .1), 0 -4px 4px -2px rgba(0, 0, 0, .1);
}
.services .servicesContainer .box1,
.box2,
.box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.services .servicesContainer .box1 .image{
    width: 45%;
    margin: 30px 50px 20px 100px;
}
.services .servicesContainer .box1 img{
    max-width: 300px;
    border-radius: 10px;
    height: 230px;
    background-color: rgb(33 150 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.services .servicesContainer .box1 .content{
    color: #121212;
    width: 45%;
    margin-right: 50px;
}
.services .servicesContainer .box1 .content h2{
    font-size: 25px;
}
.services .servicesContainer .box1 .content p{
    font-size: 18px;
    line-height: 1.7;
}
.services .servicesContainer .box2 .image{
    width: 45%;
    margin: 30px 0 20px 100px;
}
.services .servicesContainer .box2 img{
    max-width: 300px;
    border-radius: 10px;
    /* height: 230px; */
    background-color: rgb(33 150 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.services .servicesContainer .box2 .content{
    color: #121212;
    width: 55%;
    margin-left: 100px;
}
.services .servicesContainer .box2 .content h2{
    font-size: 25px;
}
.services .servicesContainer .box2 .content p{
    font-size: 18px;
    line-height: 1.7;
}

.services .servicesContainer .box3 .image{
    width: 45%;
    margin: 30px 50px 20px 100px;
}
.services .servicesContainer .box3 img{
    max-width: 300px;
    border-radius: 10px;
    /* height: 230px; */
    background-color: rgb(33 150 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.services .servicesContainer .box3 .content{
    color: #121212;
    width: 45%;
    margin-right: 50px;

}
@media(max-width:749px){
    .services .servicesContainer .content{
        display: none;
    }
    .services .servicesContainer .box1 .image, 
    .services .servicesContainer .box2 .image, 
    .services .servicesContainer .box3 .image {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
.services .servicesContainer .box3 .content h2{
    font-size: 25px;
}
.services .servicesContainer .box3 .content p{
    font-size: 18px;
    line-height: 1.7;
}
/*#################*/

@media(min-width:1200px){
    .brief{
        width: 1170px;
    }
}
@media(min-width:992px){
    .brief{width: 970px;}
}
@media(min-width:786px){
    .brief{width: 750px;}
}

.brief{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.brief .text{
    flex: 1;
}
.brief .text h3{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.brief .text p{
    font-size: 23px;
    color: #666;
    margin-top: 5px;
    line-height: 1.7;
    /* max-width: 400px; */
}
.brief img{
    width: 500px;
    position: relative;
}
@media(max-width:749px){
    .brief img{
        display: none;
    }
    .brief .text{
        text-align: center;
    }
}
