.login__form__group {
  position: relative;
  padding: 3rem 2rem;
  width: 25rem;
  height: 25rem;
  margin-bottom: 0.7rem;
  text-align: center;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: #959da533 0 8px 24px;
  }
  .login__form__group .text{
  }
  .login__form__group form{
    padding: 20px;
  }
  .login__form__group form .input{
    padding: 20px 0 0;
    position: relative;
    margin-bottom: 1.7rem;
  }
  .login__form__field {
    font-family: inherit;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .login__form__field::placeholder {
    color: transparent;
  }
  
  .login__form__field:placeholder-shown ~ .login__form__label {
    font-size: 17px;
    cursor: text;
    top: 25px;
    padding: 0 8px
  }
  
  .login__form__label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .login__form__field:focus {
    font-weight: 500;
    border-color: #121212;
  }
  
  .login__form__field:focus ~ .login__form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #121212;
    font-weight: 500;
  }
  
  .login__form__field:not(:placeholder-shown) ~ .login__form__label {
    top: 0;
  }
  .login__form__group .loginButton{
    background-color: #121212;
    position: relative;
    /* margin-top: 2rem; */
    border-radius: 6px;
    padding: 5px;
  }
  .login__form__group .loginButton .SignInButton{
    color: white;
    font-size: 18px;
    border: none;
    background-color: #121212;
    outline: none;
  }