.profile__form__group {
    position: relative;
    padding: 3rem 2rem;
    width: 85%;
    height: 70%;
    margin-bottom: 0.7rem;
    text-align: center;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    }

    @media(max-width:678px){
      .profile__form__group{
        height: 50%;
        margin-top: 0;
        margin-bottom: 2.7rem;
      }
    }
    .profile__form__group .formHead{
      margin-top: -5px;
    }
    .profile__form__group form{
      padding: 20px 0 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      /* left: 50%; */
      /* transform: translateX(-47%); */
      top: -25px;
    }
    .profile__form__group form .input{
      padding: 20px 0 0;
      position: relative;
      margin-bottom: 2.7rem;
    }
    .profile__form__group .firstPart{
      width: 45%;
    }
    .profile__form__group .secondPart{
      width: 45%;
    }
    .profile__form__group form .con{
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      /* background-color: red; */
      left: 50%;
      transform: translateX(-50%);
    }
    .profile__form__group .saveButton{
      position: relative;
      bottom: 15px;
      /* left: 35%; */
      color: white;
      outline: none;
      background-color: #1a1a1a;
    }

    .profile__form__field {
      font-family: inherit;
      width: 100%;
      border: 1px solid black;
      border-radius: 10px;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 17px;
      padding: 7px;
      background: transparent;
      transition: border-color 0.2s;
    }
    
    .profile__form__field::placeholder {
      color: transparent;
    }
    
    .profile__form__field:placeholder-shown ~ .form__label {
      font-size: 17px;
      cursor: text;
    }
    
    .profile__form__label {
      position: absolute;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #9b9b9b;
      pointer-events: none;
      top: -10px;
    }
    
    .profile__form__field:focus {
      font-weight: 500;
      border-color: #121212;
    }
    
    .profile__form__field:focus ~ .profile__form__label {
      position: absolute;
      /* top: -10px; */
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #121212;
      font-weight: 500;
    }
/*#########*/
@media(min-width:1200px){
  .profContainer{
      width: 1170px;
  }
}
@media(min-width:992px){
  .profContainer{width: 970px;}
}
@media(min-width:786px){
  .profContainer{width: 750px;}
}
.profContainer{
    display: flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: calc(100vh - 70px);
    border-radius: 20px;
    margin: 40px 0;
    width: 100%;
}
.profContainer .left-side{
    /* background-color:#246eaa61; */
    width: 30%;
    background-color: white;
    height: 100%;
    position: relative;
    border-radius: 20px;
    /* box-shadow: #959da533 0 8px 24px; */
}
.profContainer .left-side .buttons-group{
  /* margin-left: auto;
  margin-right: auto; */
  position: absolute;
  width: 100%;
  /* bottom: auto; */
  margin-top: 45px;
  bottom: 260px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #2196f3;*/
}
.profContainer .left-side .buttons-group .edit-div{
    position: relative;
    /* width: 100%; */
    width: 100%;
    height: 50px;
    left: 55%;
    transform: translateX(-50%);
    padding: 10px 5px;
    border-radius: 26px;
    margin-bottom: 20px;
    transition: 0.5s;
    /* background-color: #2196f3; */
}
.profContainer .left-side .buttons-group .edit-div .profEditButton{
  position: absolute;
  /* left: 5px; */
  width: 80%;
  transition: 0.3s;
  top: 5px;
  background-color: #2196f3;
  font-size: 20px;
  padding: 7px;
  margin-left: 7px;
  outline: none;
  color: white;
}

.profContainer .left-side .buttons-group .logout-div{
  position: relative;
  width: 95%;
  left: 55%;
  height: 50px;
  transform: translateX(-50%);
  border-radius: 26px;
  transition: 0.5s;
  padding: 10px 5px;
}
.profContainer .left-side .buttons-group .logout-div .proflogOutButton{
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    padding: 7px;
    top: 5px;
    transition: 0.3s;
    margin-left: 7px;
    width: 80%;
    outline: none;
    color: #2196f3;
}
.profContainer .left-side .image-container{
  border-radius: 7px;
  background-color: #2196f3;
  padding: 20px;
  height: 201px;
  position: relative;
}
.profContainer .left-side .image{
  height: 108px;
  position: absolute;
  border-radius: 50%;
  width: 113px;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.profContainer .left-side .image img{
    width: 113px;
    height: 108px;
    border-radius: 50%;
}
.profContainer .left-side .button{
    margin-right:auto;
    margin-left:auto;
}
.profContainer .content{
  width: 85%;
  background-color: white;
  height: 85%;
  padding: 30px;
  border-radius: 7px;

}
.profContainer .content .profData{
  padding: 15px 10px;
}
.profContainer .content .profData .name-field, .email-field, .address-field, .age-field{
  margin-bottom: 25px;
  
}
.profContainer .content .profData p:first-of-type{
  color: #9b9b9b;
}
.profContainer .content .profData p:last-of-type{
  border-bottom: 1px solid #9b9b9b;
  font-weight: bold;
}

@media(max-width:847px){
  .profContainer{
    height: calc(110vh - 70px);
    flex-direction: column;
  }
  .profContainer .content{
    padding: 0;
  }
  .profContainer .content .profData{
    padding: 0;
  }
  .profContainer .left-side .buttons-group{
    bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
  }
  .profContainer .left-side .buttons-group .edit-div{
    width: 50%;
    left: 50px;
  }
  .profContainer .left-side .buttons-group .logout-div{
    width: 50%;
    left: 50px;
  }
  .profContainer .left-side .buttons-group .edit-div .profEditButton{
    background-color: #2196f3;
  }
}

