.appContainer{
    margin: 40px 0;
}

.appContainer .firstHead{
    margin-bottom: 30px;
}
.appContainer .appNew{
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    /* box-shadow: 1px 0 4px 0; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.appContainer .appNew .appCard{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px 20px;
    border-radius: 7px;
}
.appContainer .appNew .appCard .view{
    background-color: #2196f3;
    color: white;
    width: 100%;
    padding: 10px;
}
